
.goto-py.lnk
.test
.ignored-test
.terminal-log
.ignored-pdf-docs
.test_directory
*.mp3
.chatgpt_responses
code-snippets/format-verb-filename
code-snippets/format-launch-extension-noun
matrix/oracle/__pycache__/config.cpython-311.pyc
matrix/neo/__pycache__/log.cpython-311.pyc
*.pyc
.ignored_test_json_files
matrix/oracle/JSON-Manager/json_manager_menu_v2_0.py
matrix/oracle/JSON-Manager/json_manager_menu_v2_0.py
matrix/oracle/todo_list/launch_manager_2.0.cmd
matrix/oracle/todo_list/json_manager_menu_v2_0.py
matrix/oracle/todo_list/json_manager_config_v2_0.py
matrix/oracle/JSON-Manager/launch_manager_2.0.cmd
matrix/oracle/JSON-Manager/json_manager_menu_v2_0.py
matrix/oracle/JSON-Manager/json_manager_config_v2_0.py
shortkeys.ps1
.ignored_env_var
test_setup.ps1
.readme/
taskarray/powershell-script-to-extract-zip-file/v2.zip
